$red: rgb(220, 20, 60);
$blue: rgb(70, 130, 180);
$yellow: rgb(255,255,0);
$orange: rgb(255, 140, 0);
$green: rgb(152, 251, 152);
$pink:rgb(255, 182, 193);
$brown:rgb(255, 228, 196);
$purple:rgb(238, 130, 238);
$gray: #565656;
$light-gray: rgb(221,225,225);


$bluehover: rgb(50, 110, 150);
$redhover: rgb(210, 10, 60);
$pinkhover:rgb(235, 162, 173);
$purplehover:rgb(218, 110, 218);
$orangehover: rgb(235, 110, 0);
$brownhover:rgb(235, 208, 176);
$yellowhover: rgb(235, 230, 185);
$greenhover: rgb(132, 231, 132);
$weekend:rgb(112, 58, 100);
$base: rgb(23, 125, 134);
$infobutton: rgb(111, 57, 98);
$infohover: rgb(111, 57, 98);
$infoborder: rgb(111, 57, 98);
$btnlight: rgb(158, 184, 28);
$btnlightborder: rgb(158, 184, 28);
$lighthover: rgb(138, 164, 28);
$card: rgba(152, 251, 152, 0.2);
$danger-red:rgba(255, 181, 181, 0.7);
$dangerhover:rgba(255, 181, 181, 1);
$shadow: rgba(102, 102, 102, 0.8);
$white: #fdfcfa;
$location1:rgb(220, 20, 60);
$location2: rgb(70, 130, 180);
$location3:rgb(255, 140, 0);
$location4:rgb(255, 182, 193);
$location5:rgb(238, 130, 238);
$location6:rgb(255, 228, 196);
