.btn-success{
  background-color: $base !important;
  border-color: $white !important;
  color: $white !important;
}

.btn-success:hover,.btn-success:focus,.btn-success:active{
  background-color: $white !important;
  border-color: $base;
  color: $base !important;
}
.btn-vacation{
  background-color:rgb(232, 235, 234);
}
.btn-vacation:hover{
   background-color:$light-gray;
}
.btn-weekend{
  background-color: $white;
}
.btn-weekend:hover{
  background-color: $light-gray;
}
.btn-arrow-left{

  background-color: $base;

  max-height: 50px;
  max-width:50px;
  margin-right: 1%;
}
.btn-warning{

 border: none;
 background-color: rgb(255,255,224);
 color: rgb(255,255,224)!important;
}
.btn-warning.disabled, .btn-warning:disabled{

  border: none;
  background-color: rgb(255,255,224);
  color: rgb(255,255,224)!important;
}
.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}


.btn-therapist{
  width:100%;
  border:1px solid $light-gray;
  margin: 1px;
}
.btn-table{
  width:100%;

}
.btn-arrow{
  background-color: $base;
  color:$white;

  max-width:100px;


}
.btn-arrow-right{
  background-color: $base;

  max-height: 50px;
  max-width:0px;
  margin-left: 0.4%;


}
.btn-danger{
  border: none;
  background-color: $white;
  color: $white;
  //border: 1px solid rgba(255, 181, 181, 0.3);
}

.btn-danger:hover, .btn-danger:active{
  border: none;
  background-color: $dangerhover !important;
  color:  $white;

}
.btn-danger.disabled, .btn-danger:disabled {
    color:  $danger-red;
    background-color: $danger-red;


}
.btn-danger-app{
  background-color: $white;
  border: 1px solid $danger-red;
  color: $danger-red;
  //border: 1px solid rgba(255, 181, 181, 0.3);
}

.btn-danger-app:hover, .btn-danger-app:active{
  border: 1px solid $danger-red;
  background-color: $dangerhover !important;
  color:  $white;

}
.btn-secondary {
    color: $white;
    background-color: $light-gray;
    border: 1px solid $white;

}
.btn-secondary:hover{
  background-color: $light-gray;
  color:$gray;
  border: 1px solid $white;
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color:$light-gray;
  background-color: $light-gray;
  border:none;
}


.btn-info.disabled, .btn-info:disabled{


   color: $white;

}

.btn-info{
  background-color: $white !important;
  //border:1px solid $infoborder;

  color: $white;


}
.btn-info:hover{
   //border-color: $infoborder !important;
   background-color: $infohover !important;
    color:$infobutton;

}

.btn-light{
  background-color: $white;
  border: 1px solid $base;

  color:$base;

}
.btn-light:hover,.btn-light:focus,.btn-light:active{
  border: 1px solid $white;
  background-color: $base !important;
  color: $white;

}
.btn-light-app{
  background-color: $white;
  border: 1px solid $btnlight;

  color:$btnlight;

}
.btn-light-app:hover{
  border: 1px solid $btnlight;
  background-color: $lighthover !important;
  color: $white;

}

 .btn-crews{
  margin:2px;
  min-width:45px;
  }



.btn-primary{
  background-color: $blue;
  //border-color: $btnlightborder;

  color: $white;

}

 .btn-app{
  min-width: 150px;
  min-height: 50px;
  padding-top: 10px;
}


