.btn-success{
  background-color: $base !important;
  border-color: $white !important;
  color: $white !important;
}

.btn-success:hover,.btn-success:focus,.btn-success:active{
  background-color: $white !important;
  border-color: $base;
  color: $base !important;
}

.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}



